
<% if @aula.errors.any? %>
  <% @aula.errors.full_messages.each do |error| %>
    <%= alert_generator error %>
  <% end %>
<% end %>


    <div class="form-group">
            <%= f.label :titulo %>
      <%= f.text_field :titulo, class:"form-control" %>
      </div>

    <div class="form-group">
            <%= f.label :conteudo %>
      <%= f.text_area :conteudo, class:"form-control" %>
      </div>

    <div class="form-group">
            <%= f.label :referencias %>
      <%= f.text_area :referencias, class:"form-control" %>
      </div>

    <div class="form-group">
            <%= f.label :secco_id %>
      <%= f.text_field :secco_id, class:"form-control" %>
      </div>
