<h2><%= t('.aulas') %></h2>

<div class="catalog text-muted">
  <div class="container">

    <div class="row">
      <% @aulas.each do |aula| %>
      <div class="card">
        <%= image_tag("girl-pointing.png")%>
        <h3><%= aula.titulo %></h3>
        <p class="card-text"><%= aula.conteudo %></p>
        <div class="btn-group " role="group" aria-label="Basic example">
          <%=link_to fa_icon("comment-o"), "#", class:"btn btn-secondary"%>
          <%=link_to fa_icon("info"), curso_secco_aula_path(@curso, @secco,aula, locale: I18n.locale), class:"btn btn-secondary"%>
          <%=link_to fa_icon("envelope-o"), "#", class:"btn btn-secondary"%>

        <% if logged_in?(:admin, :instructor) %>
          <%= link_to fa_icon("pencil"), edit_curso_secco_aula_path(@curso, @secco,aula, locale: I18n.locale) , class:"btn btn-secondary"%>
          <%= link_to t('trash'), curso_secco_aula_path(@curso, @secco, aula, locale: I18n.locale), method: :delete, data: { confirm: t('are_you_sure') } , class:"btn btn-secondary"%>
        <% end %>
        </div>
      </div>
      <% end %>

    </div>

  </div>
</div>
