<h1><%= t('new') %> Aula</h1>

<%= form_for(@aula, url:curso_secco_aulas_path( @curso, @secco, locale: I18n.locale) ) do |f| %>

  <%= render 'form',  f: f %>

  <div class="form-group">
    <%= f.submit t('.create') %>
  </div>
  <% end %>

<%= link_to t('back'), curso_secco_aulas_path(@curso, @secco,locale:I18n.locale) %>
