
<% if @secco.errors.any? %>
  <% @secco.errors.full_messages.each do |error| %>
    <%= alert_generator error %>
  <% end %>
<% end %>


    <div class="form-group">
            <%= f.label :titulo %>
      <%= f.text_field :titulo, class:"form-control" %>
      </div>

    <div class="form-group">
            <%= f.label :resumo %>
      <%= f.text_area :resumo, class:"form-control" %>
      </div>
