<h2><%= t('.seccoes') %></h2>

<div class="catalog text-muted">
  <div class="container">

    <div class="row">
      <% @seccos.each do |secco| %>
      <div class="card">
        <%= image_tag("girl-pointing.png")%>
        <h3><%= secco.titulo %></h3>
        <p class="card-text"><%= secco.resumo %></p>
        <div class="btn-group " role="group" aria-label="Basic example">
          <%=link_to fa_icon("comment-o"), "#", class:"btn btn-secondary"%>
          <%=link_to fa_icon("info"), curso_secco_aulas_path(@curso, secco, locale: I18n.locale), class:"btn btn-secondary"%>
          <%=link_to fa_icon("envelope-o"), "#", class:"btn btn-secondary"%>

        <% if logged_in?(:admin, :instructor) %>
          <%= link_to fa_icon("pencil"), edit_curso_secco_path(@curso, secco,locale: I18n.locale) , class:"btn btn-secondary"%>
          <%= link_to fa_icon('trash'), curso_secco_path(@curso, secco, locale: I18n.locale), method: :delete, data: { confirm: t('are_you_sure') } , class:"btn btn-secondary"%>
        <% end %>
        </div>
      </div>
      <% end %>

    </div>

  </div>
</div>


<br>

<%= link_to t(".new_secco"), new_curso_secco_path(@curso, locale:I18n.locale) if logged_in?(:admin, :instructor)%>
