
<h3>

  <%= @secco.titulo %>
</h3>
<% if logged_in?(:admin, :instructor) %>
  <%= link_to t(".new_aula"), new_curso_secco_aula_path(@curso, @secco, locale:I18n.locale) %> |
  <%= link_to t('edit'), edit_curso_secco_path(@curso, @secco, locale: I18n.locale) %> |
  <%= link_to t('back'), curso_seccos_path(@curso, locale: I18n.locale) %>
<% end %>


<p>
  <%= @secco.resumo %>
</p>
