
<% if @curso.errors.any? %>
  <% @curso.errors.full_messages.each do |error| %>
    <%= alert_generator error %>
  <% end %>
<% end %>


    <div class="form-group">
            <%= f.label :titulo %>
      <%= f.text_field :titulo, class:"form-control" %>
      </div>

    <div class="form-group">
            <%= f.label :ementa %>
      <%= f.text_area :ementa, class:"form-control" %>
      </div>
