<h2><%= t('.Cursos') %></h2>

<div class="catalog text-muted">
  <div class="container">

    <div class="row">
      <% @cursos.each do |curso| %>
      <div class="card">
        <%= image_tag("girl-pointing.png")%>
        <h3><%= curso.titulo %></h3>
        <p class="card-text"><%= curso.instructor.email unless curso.instructor.nil? %></p>
        <p class="card-text"><%= curso.ementa %></p>
        <div class="btn-group" role="group" aria-label="Basic example">
          <%=link_to fa_icon("info"), curso_seccos_path(curso), class:"btn btn-secondary"%>
        </div>
      </div>
      <% end %>

    </div>

  </div>
</div>
