
<h2>
  <%= @curso.titulo %>
</h2>
<em><%= @curso.instructor.email unless @curso.instructor.nil? %></em>
<p>
  <strong>Ementa:</strong>
  <%= @curso.ementa %>
</p>
<% if logged_in?(:admin, :instructor) %>
  <%= link_to t('new_secco'), new_curso_secco_path(@curso, locale: I18n.locale) %> |
  <%= link_to t('edit'), edit_curso_path(@curso, locale: I18n.locale) %> |
  <%= link_to t('back'), cursos_path(locale: I18n.locale) %>
<% end %>

<div class="">
  <h3>Conteúdo</h3>
  <ul>
    <% @curso.seccos.each do |secco| %>
      <% if logged_in?(:admin, :instructor, :student) %>
        <li><%= link_to secco.titulo, [@curso, secco] %></li>
      <% else %>
        <li><%= secco.titulo %></li>
      <% end %>
    <% end %>
  </ul>
</div>
